.navigation-modal,
.contact-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 62px;
  &__item {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    margin-bottom: 64px;
    padding-left: 40px;
  }
}
.contact-modal {
  padding-top: 0;
  margin-top: 302px;
}
.contact-modal__item {
  color: #757575;
}
.contact-modal__item--modifier {
  color: var(--hover-color);
  font-size: 40px;
  line-height: 1.167;
}
.social-links {
  width: 450px;
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  &__item {
    color: var(--hover-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    margin-right: 20px;
  }
}
