.logo {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  color: #000000;
  text-decoration: none;
  padding: 16px 0;
  &__webstudio {
    color: var(--hover-color);
  }
  &--footer {
    color: var(--secondary-color);
    padding: 60px 0 0 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 16px 0 16px 15px;
    &--footer {
      padding: 60px 0 0 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    &--footer {
      padding: 60px 0 0 0;
    }
  }
}
