.container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  &__links {
    display: none;
  }
  &--header {
    justify-content: space-between;
    background-color: var(--secondary-color);
  }
  &--main-section {
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  &__heading {
    color: var(--secondary-color);
    font-size: 26px;
    line-height: 1.615;
    padding-top: 118px;
    text-align: center;
  }
  &--section {
    flex-direction: column;
  }
  &--footer {
    flex-direction: column;
    padding-bottom: 60px;
    width: auto;
    flex-wrap: wrap;
    flex-basis: calc(100% / 1);
  }
  &__portfolio {
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    &__links {
      display: inline;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.167;
      color: #757575;
    }
    &--footer {
      flex-direction: row;
      align-items: center;
      flex-basis: calc(100% / 2);
    }
    &__portfolio {
      align-items: center;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 1200px) {
  .container {
    flex-wrap: wrap;
    &--footer {
      flex-basis: calc(100% / 3);
      justify-content: center;
    }
    &__links {
      font-size: 14px;
      line-height: 1.143;
      &--margin {
        margin-right: 30px;
      }
    }

    &__heading {
      font-size: 44px;
      line-height: 1.364;
      padding-top: 200px;
    }
  }
}
