:root {
  --background-color: #2f303a;
  --main-color: #212121;
  --secondary-color: #ffffff;
  --hover-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}
